- title t('.title')

%p.nav
  - if can? :index, Collection
    = link_to t('back'), collections_path, class: 'index'
  - if can? :edit, @collection
    = link_to t('edit'), edit_collection_path(@collection), class: 'edit'

%dl
  %dt= Collection.human_attribute_name :crt
  %dd= Time.at @collection.crt
  %dt= Collection.human_attribute_name :mod
  %dd= Time.at @collection.mod / 1000
  %dt= Collection.human_attribute_name :scm
  %dd= Time.at @collection.scm / 1000
  %dt= Collection.human_attribute_name :ls
  %dd= Time.at @collection.ls / 1000
  %dt= Collection.human_attribute_name :ver
  %dd= @collection.ver
  %dt= Collection.human_attribute_name :dty
  %dd= @collection.dty
  %dt= Collection.human_attribute_name :usn
  %dd= @collection.usn
  %dt= Collection.human_attribute_name :conf
  %dd
    %dl
      - @collection.conf.each do |key, value|
        %dt{class: key}=key
        %dd{class: key}=value.inspect
  %dt= Collection.human_attribute_name :dconf
  %dd
    %dl
      - @collection.dconf.each do |key, value|
        %dt{class: key}=key
        %dd
          - value.each do |k, v|
            %dt{class: "#{key}-#{k}"}= k
            %dd{class: "#{key}-#{k}"}
              - if k == "mod"
                = v
                = ' = '
                = Time.at v
              - else
                = v.inspect
  %dt= Collection.human_attribute_name :models
  %dd
    %dl
      - @collection.models.each do |key, value|
        %dt{class: key}
          = key
          = ' = '
          = Time.at key.to_i / 1000
        %dd{class: "#{key}-name"}= value.name
        %dd
          %dl
            - Array(value.flds).each do |field|
              %dd= field['name']
        -#%dd{class: key}=value.inspect
  %dt= Collection.human_attribute_name :decks
  %dd
    %dl
      - @collection.decks.each do |id, deck|
        %dt{class: deck.id}
          = Time.at deck.id.to_i / 1000
        %dd{class: "#{deck.id}-name"}
          = deck.name
          ***
          = Time.at deck.id.to_i / 1000
  %dt= Collection.human_attribute_name :tags
  %dd= @collection.tags
